// Layouts for discussion pages

.discussion-user-profile-board {

    .page-title {
        @include margin-left($baseline);
        display: inline-block;
    }

    .discussion-profile-info-wrapper {
        display: inline-block;
    }

    .discussion-profile-info  {
        @include border-right(1px solid $forum-color-border);
        @include padding(0, $baseline, 0, $baseline);
        font-size: $forum-small-font-size;
    }

    .user-name {
        @include margin(0, $baseline / 4, 0, $baseline);
        font-size: $forum-x-large-font-size;
    }

    .user-roles {
        padding: 0 $baseline / 4;
        position: relative;
        top: -$baseline / 10;
        background-color: $forum-color-background-label;
        color: $white;
        font-size: $forum-small-font-size;
        font-weight: bold;
        border-radius: $forum-border-radius;
    }

    .discussion-count {
        color: $forum-color-count;
        font-size: $forum-x-large-font-size;
        font-weight: bold;
    }

    .discussion-user-threads {
      @include margin($baseline, auto, $baseline, auto);
      width: 90%;
    }
}

.discussion-column {
    min-height: 500px;

    .new-post-article {
        margin-top: -$baseline;
    }
}
